<div class="search-page">
    <h5><%=searchResults[0].type%></h5>
    <%console.log(searchResults[0].type)%>
    <% if (searchResults) { %> <% searchResults.forEach(animal => { %>
        <div>

            <a href="/details/<%= animal.id %> " class="returnResult">
                <h3><%= animal.name.toLowerCase() %>: <%= animal.age.toLowerCase() %>,
                    <%= animal.size.toLowerCase() %> sized
                <%= animal.gender.toLowerCase() %>  <%= animal.species.toLowerCase() %>

                </h3>

            </a>

        </div>
    <% }); %>
    <% } else { %>
        <div>nothing found</div>
    <% } %>
</div>

