<body class="details-page">

<div>
    <h2>hi! my name is <%= animalDetails.name.toLowerCase() %> </h2>
    <% if (animalDetails.primary_photo_cropped != null) { %>
        <img src="<%= animalDetails.primary_photo_cropped.large %> " alt="cute pic" id="animal-img"/>
    <% } else { %>
        <% console.log('no picture') %>
    <% } %>
</div>
<div id="details">
    <% if (animalDetails.species != null) { %>
        <span>species:</span> <%= animalDetails.species %>  <br/>
    <% } else { %>
        <% console.log('no info on species') %>
    <% } %>

    <% if (animalDetails.breeds.primary != null) { %>
        <span>breeds:</span> <%= animalDetails.breeds.primary %> <%= animalDetails.breeds.secondary %>  <br/>
    <% } else { %>
        <% console.log('no info on breeds') %>
    <% } %>

    <% if (animalDetails.age != null) { %>
        <span>age:</span> <%= animalDetails.age %>  <br/>
    <% } else { %>
        <% console.log('no info on age') %>
    <% } %>

    <% if (animalDetails.gender != null) { %>
        <span>gender:</span> <%= animalDetails.gender %>  <br/>
    <% } else { %>
        <% console.log('no info on gender') %>
    <% } %>

    <% if (animalDetails.size != null) { %>
        <span>size:</span> <%= animalDetails.size %>  <br/>
    <% } else { %>
        <% console.log('no info on size') %>
    <% } %>

    <% if (animalDetails.coat != null) { %>
        <span>coat:</span> <%= animalDetails.coat %>  <br/>
    <% } else { %>
        <% console.log('no info on coat') %>
    <% } %>

    <% if (animalDetails.colors.primary != null) { %>
        <span>colors:</span> <%= animalDetails.colors.primary %> <%= animalDetails.colors.secondary %>  <br/>
    <% } else { %>
        <% console.log('no info on color') %>
    <% } %>

    <% if (animalDetails.environment.dogs != null) { %>
        <span>good around children:</span> <%= animalDetails.environment.children %>  <br/>
    <% } else { %>
        <% console.log('no info on if good around children') %>
    <% } %>

    <% if (animalDetails.environment.dogs != null) { %>
        <span>good around dogs:</span> <%= animalDetails.environment.dogs %>  <br/>
    <% } else { %>
        <% console.log('no info on if good around dogs') %>
    <% } %>

    <% if (animalDetails.environment.cats != null) { %>
        <span>good around cats:</span> <%= animalDetails.environment.cats %>  <br/>
    <% } else { %>
        <% console.log('no info on if good around cats') %>
    <% } %>

    <% if (animalDetails.attributes.spayed_neutered != null) { %>
        <span>spayed/neutered:</span> <%= animalDetails.attributes.spayed_neutered %>  <br/>
    <% } else { %>
        <% console.log('no info on spayed or neutered') %>
    <% } %>

    <% if (animalDetails.attributes.house_trained != null) { %>
        <span>house trained:</span> <%= animalDetails.attributes.house_trained %>  <br/>
    <% } else { %>
        <% console.log('no info on is house trained') %>
    <% } %>

    <% if (animalDetails.attributes.declawed != null) { %>
        <span>declawed:</span> <%= animalDetails.attributes.declawed %>  <br/>
    <% } else { %>
        <% console.log('no info on declawing') %>
    <% } %>

    <% if (animalDetails.attributes.special_needs != null) { %>
        <span>special needs:</span> <%= animalDetails.attributes.special_needs %> <br/>
    <% } else { %>
        <% console.log('no info on special needs') %>
    <% } %>

    <% if (animalDetails.attributes.shots_current != null) { %>
        <span>shots current:</span> <%= animalDetails.attributes.shots_current %> <br/>
    <% } else { %>
        <% console.log('no info on shots') %>
    <% } %>

    <a href="<%= animalDetails.url %>" target="_blank">
        <span>link to petfinder profile</span>
        <br/>
    </a>
    <span>email:</span> <%= animalDetails.contact.email %> <br>
    <span>call:</span> <%= animalDetails.contact.phone %>
    <br/>
</div>

<div>
    <form method="POST" action="/saved">
        <input hidden type="text" name="name" value="<%= animalDetails.name %>">
        <input hidden type="text" name="type" value="<%= animalDetails.type %>">
        <input hidden type="text" name="gender" value="<%= animalDetails.gender %>">
        <input hidden type="text" name="age" value="<%= animalDetails.age %>">
        <input type="hidden" name="userId" value="<%= animalDetails.userId %>">
        <button type="submit">save</button>
    </form>
</div>
</body>