<h3>this is the details page</h3>

<div>
    <h2><%= animalDetails.name %> </h2>
    <% if (animalDetails.primary_photo_cropped != null) { %>
        <img src="<%= animalDetails.primary_photo_cropped.large %> " alt="cute pic"/>
    <% } else { %>
        <% console.log('no picture') %>
    <% } %>
</div>
<div id="details">
    <span>species:</span> <%= animalDetails.species %>
    <hr/>
    <span>breeds:</span> <%= animalDetails.breeds.primary %> & <%= animalDetails.breeds.secondary %>
    <hr/>
    <span>age:</span> <%= animalDetails.age %>
    <hr/>
    <span>gender:</span> <%= animalDetails.gender %>
    <hr/>
    <span>size:</span> <%= animalDetails.size %>
    <hr/>
    <span>coat:</span> <%= animalDetails.coat %>
    <hr/>
    <span>colors:</span> <%= animalDetails.colors.primary %> & <%= animalDetails.colors.primary %>
    <hr/>
    <span>good around children:</span> <%= animalDetails.environment.children %>
    <hr/>
    <span>good around dogs:</span> <%= animalDetails.environment.dogs %>
    <hr/>
    <span>good around cats:</span> <%= animalDetails.environment.cats %>
    <hr/>
    <span>spayed/neutered:</span> <%= animalDetails.attributes.spayed_neutered %>
    <hr/>
    <span>house trained:</span> <%= animalDetails.attributes.house_trained %>
    <hr/>
    <span>declawed:</span> <%= animalDetails.attributes.declawed %>
    <hr/>
    <span>special needs:</span> <%= animalDetails.attributes.special_needs %>
    <hr/>
    <span>shots current:</span> <%= animalDetails.attributes.shots_current %>
    <hr/>
    <a href="<%= animalDetails.url %>">
        <span>description:</span> <%= animalDetails.description %>
        <hr/>
    </a>
    <span>contact:</span> email <%= animalDetails.contact.email %> or call
    <%= animalDetails.contact.phone %>
    <hr/>
</div>

<div>
    <form method="POST" action="/saved">
        <input hidden type="text" name="name" value="<%= animalDetails.name %>">
        <input hidden type="text" name="type" value="<%= animalDetails.type %>">
        <input hidden type="text" name="gender" value="<%= animalDetails.gender %>">
        <input hidden type="text" name="age" value="<%= animalDetails.age %>">
        <input type="hidden" name="userId" value="<%= animalDetails.userId %>">
        <button type="submit">favorites</button>

</div>